<html>
	<head>
		<title>Graddy Game Music - View Track</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row">
				
				<div class="col-md-12 text-center">	
					<h2> Genre Details</h2>
				</div>
				
				<div class="col-md-12 text-center">
					<table class="col-md-6 table" style="border:1px solid #F5f5f5;width:500px;">
	        			<tr>
		            		<td>Genre Name</td>
		            		<td>{{genre.name}}</td>
		            	</tr>
		        	</table>
		        	<div class="col-md-3">&nbsp;</div>
		      	</div>
		      	
		      	<div class="col-md-12">
		      		<span class="col-md-3"></span>	
		      		<a href="{% url 'add-genre' %}{{genre.id}}/"class="btn btn-primary col-md-6">Edit Genre</a>
		      		<span class="col-md-3"></span>
		      	</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>